upstream docker-myapp {
    server myapp:${MYAPP_PORT};
}

server {
    listen ${MYAPP_PROXY_PORT};

    location / {
         proxy_pass http://docker-myapp;
         proxy_redirect default;
         proxy_set_header Host $http_host;
    }

}

